@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
$fontTitleFont: Titillium Web;
$fontBlockTextFont: Roboto Condensed;
$activeColorLinks: #4a3f3f;

body
{
    margin: 0;
    padding: 0;
}
// header styles
header
{
    width: 100%;
    background: #EDD86F;
    min-height: 330px;
}
// 

// header icons styles
.header__icons
{
    justify-content: center;
    display: flex;
    // justify-content: space-around;
    align-items: center;
    height: 272px;

    .icons__icon
    {
        height: 20px;
        margin: 0px 40px;
    }
}
// 

// header logo styles
.header__logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 272px;
    .logo__logo
    {
        height: 90px;
    }

    p
    {
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 20px;
        font-family: $fontTitleFont;
        font-size: 17px;
    }
}
// 
// header feedback styles
.header__feedbackIcons
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;

    .feedbackIcons__icon
    {
        display: flex;

        img
        {
            height: 20px;
            margin: 5px 0px 0px 0px
        }
        
        .icon__2icon
        {
            margin: 5px 0px 0px 20px
        }

        p
        {
            padding: 0;
            margin: 0;
            margin-left: 5px;
            font-family: $fontTitleFont;
        }
    }
}
// 

// main styles

main
{
    width: 100%;
    min-height: 572px;
    background: linear-gradient(0deg, rgba(97, 121, 183, 0.8), rgba(97, 121, 183, 0.8)), url(/assets/img/laptopBg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;

    .main__title
    {
        display: flex;
        flex-flow: column;
        align-items: center;

        .title__main, .title__subtitle, .tittle__whoAreYou
        {
            margin: 0;
            padding: 0;
            text-align: center;
            width: 70%;
            color: #ffff;
            font-family: $fontTitleFont;
            font-size: 20px;
            line-height: 30px;
        }

        .conference__subtitle
        {
            margin-top: 0;
            padding: 0;

        }

        .title__main
        {
            
            
            span
            {
                text-transform: uppercase;
            }
        }

        .tittle__abiturient
        {
            margin-bottom: 50px;
        }

        .title__subtitle
        {
            margin-top: 30px;
        }

        .tittle__whoAreYou
        {
            margin-top: 50px;
        }

        .main__specName
        {
            color: #ffff;
            text-align: center;
            font-family: $fontTitleFont;
            font-size: 18px;
        }

        .main__specName
        {
            span
            {
                font-weight: bold;
                font-family: $fontBlockTextFont;
                font-size: 18px;

            }
        }

        .conference__subtitle
        {
            font-family: $fontBlockTextFont;
            font-size: 20px;
            color: #fff;
            text-align: center;
            // width: 60%;
            margin: 0;
            padding: 0;
            margin-top: 50px;
            &:nth-child(2)
            {
                margin-top: 0;
            }
        }
    }
    
    .main__roles
    {
        margin-top: 40px;
        padding-bottom: 40px;

        .roles__role
        {

            .role__link
            {
                display: flex;
                flex-flow: column;
                align-items: center;
                text-decoration: none;

                .role__roleImg
                {
                    height: 70px;
                }
    
                .role__roleName
                {
                    margin: 0;
                    padding: 0;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 90%;
                    color: #ffff;
                    text-align: center;
                    font-family: $fontTitleFont;
                    font-size: 20px;
                }
                    
    
                .role__line
                {
                    width: 50%;
                    height: 1px;
                    background: #EDD86F;
                }
    
                .role__description
                {
                    margin: 0;
                    padding: 0;
                    margin-top: 10px;
                    width: 90%;
                    line-height: 30px;
                    color: #ffff;
                    text-align: center;
                    font-family: $fontTitleFont;
                    font-size: 20px;
                }

            }
            

            
        }
    }

}

footer
{
    width: 100%;
    background: #EDD86F;

    .footer__icons
    {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 123px;
    
        .icons__icon
        {
            height: 20px;
            margin: 0px 40px;
        }
    }

    

    .footer__link
    {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: 123px;
        text-decoration: none;
        color: #000;

    }

    .logo__footerLogo
    {
        height: 40px;
        margin-right: 20px;
    }

    .logo__text
    {
        padding: 0;
        margin: 0;
        font-family: $fontTitleFont;
        font-size: 15px;

    }

    .footer__feedback
    {
        display: flex;
        align-items: center;
        justify-content: center;

        button
        {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            border: solid #000 1px;
            border-radius: 10px;
            padding: 10px 20px;
            

        }

        a
        {
            color: #000;
            text-decoration: none;
        }
    }
}

.menu
{
    display: flex;
    justify-content: center;
    ul
    {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        li
        {
            margin: 0px 10px;
            list-style: none;

            a
            {
                text-decoration: none;
                color: #000;
                font-family: $fontTitleFont;
                font-size: 18px;
                &:hover
                {
                    transition: 5ms;
                    color: #4a3f3f;
                }
            }

            .menu__activeLink
            {
                color: $activeColorLinks;
            }
        }

       
    }
}

.main__blocks
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .blocks__block
    {
        width: 45%;
        background: #6B89D4;
        padding: 20px 10px;
        border-radius: 10px;
        display: flex;
        // justify-content: center;
        align-items: center;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 20px 30px;

        span
        {
            font-weight: 600;
            // letter-spacing: 1px;
        }
    }

    .block__firstblock
    {
        width: 100%;
    }

    .block__text
    {
        padding: 0;
        margin: 0;
        color: #ffff;
        font-family: $fontBlockTextFont;
        font-size: 18px;
        line-height: 30px;
        padding: 0px 20px;

        a
        {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            transition: 0.5s;
            &:hover
            {
                color: $activeColorLinks;
                transition: 0.5s;
            }


        }
    }
}

.main__buttonWork
{
    display: flex;
    justify-content: center;
    a
    {
        padding: 0;
        margin: 0;
        button
        {
            padding: 0;
            margin: 0;
            margin: 30px 0px 0px 0px;
            border: none;
            background: none;
            border: 1px solid #EDD86F;
            border-radius: 10px;
            padding: 10px 50px;
            color: #ffff;
            font-family: $fontBlockTextFont;
            font-size: 18px;
            text-transform: uppercase;
            &:hover
            {
                transition: 0.5s;
                color: $activeColorLinks;
                background: #EDD86F;
            }

        }
        text-decoration: none;
    }
}

.topmenu
{
    .submenu
    {
        display: none;
        li
        {
            padding: 0;
            margin: 0;
            border-top: 1px solid #000;
            margin-top: 10px;
            padding-top: 5px;
        }
    }
    &:hover
    {
        .submenu
        {
            display: flex;
            flex-flow: column;       
            width: 328px;
            
            li
            {
                &:last-child
                {
                    padding-bottom: 20px;
                }
            }
        }
    }
}

.main__table
{
    display: flex;
    justify-content: center;
    table
    {
        
        
        tr
        {
            color: #ffff;
            font-family: $fontBlockTextFont;
            font-size: 18px;
            th
            {
                padding: 10px 20px;
            }
    
            td
            {
                padding: 10px 20px;
                a
                {
                    text-decoration: none;
                    color: #fff;
                    font-family: $fontBlockTextFont;
                    font-size: 18px;
                    &:hover
                    {
                        transition: 0.5s;
                        color: $activeColorLinks;
                    }
                }
            }
        }
    }

    .information__table
    {
        width: 50%;
    }
}

.main__photos
{
    .photos__title
    {
        display: flex;
        justify-content: center;
        color: #ffff;
        font-family: $fontTitleFont;
        font-size: 18px;
        margin: 30px 0px;
    }

    .photos__photo
    {
        display: flex;
        flex-flow: row;
        justify-content: center;
        img
        {
            width: 45%;
            margin: 0px 10px;
            border-radius: 10px;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}

.main__docsMenu
{
    display: flex;
    justify-content: right;
    align-items: center;
    ul
    {
        padding: 0;
        margin: 0;
        li
        {
            list-style: none;
            border-top: 1px solid #C4C4C4;
            padding: 10px 0px;
            &:first-child
            {
                border-top: none;
            }   
            a
            {
                text-decoration: none;
                color: #C4C4C4;
                font-size: 15px;
                &:hover
                {
                    transition: 0.5s;
                    color: #fff;
                }
            }
        }
    }

    .menu__activeLinkDocs
    {
        color: #fff;
    }
}

.main__docs
{
    display: flex;
    // justify-content: center;
    flex-flow: column;
    
    .docs__doc
    {
        margin: 20px 0px;
        display: flex;
        
        img
        {
            // width: 40px;
            height: 40px;
        }

        .doc__link
        {
            padding: 0;
            margin: 0;
            padding-left: 10px;
            a
            {
                text-decoration: none;
                color: #fff;
                &:hover
                {
                    transition: 0.5s;
                    color: $activeColorLinks;
                }
            }

        }
    }
    

    .doc__small
    {
        margin-left: 25%;   

        .doc__info
            {
                display: flex;
            }
    }

    .doc__small2
    {
        margin-left: 35%;   

        .doc__info
            {
                display: flex;
            }
    }

    .doc__large
    {
        margin-left: 10%;

        .doc__largeInfo
        {
            display: flex;
            width: 80%;
        }
    }

    .doc__large2
    {
        margin-left: 20%;

        .doc__largeInfo
        {
            display: flex;
            width: 80%;
        }
    }

    .docs__subtitle
    {
        font-family: $fontBlockTextFont;
        font-size: 20px;
        color: #fff;
        p
        {
            text-align: center;
            width: 80%;
        }
    }

    .docs__subtitle2
    {
        margin-top: 50px;
        font-family: $fontBlockTextFont;
        font-size: 20px;
        color: #fff;
        p
        {
            text-align: center;
            width: 100%;
        }
    }


}

.conference__docs
{
    display: flex;
    
    width: 50%;
    
}



.conference__photos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img
    {
        height: 230px;
        border-radius: 10px;
        margin: 20px;
    }
}

.conference__photos2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .photos__photo1, .photos__photo2, .photos__photo3, .photos__photo4
    {
        width: 344px;
        height: 230px;
        border-radius: 10px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        p
        {
            color: #fff;
            font-family: $fontBlockTextFont;
            font-size: 15px;
        }
    }
    .photos__photo1
    {
        background: linear-gradient(180.1deg, rgba(0, 0, 0, 0) 0.09%, #000000 118.63%), url("/assets/img/conferencePhoto7.jpg");
        background-size: contain;
    }
    .photos__photo2
    {
        background: linear-gradient(180.1deg, rgba(0, 0, 0, 0) 0.09%, #000000 118.63%), url("/assets/img/conferencePhoto8.jpg");
        background-size: contain;
    }
    .photos__photo3
    {
        background: linear-gradient(180.1deg, rgba(0, 0, 0, 0) 0.09%, #000000 118.63%), url("/assets/img/conferencePhoto9.jpg");
        background-size: contain;
    }
    .photos__photo4
    {
        background: linear-gradient(180.1deg, rgba(0, 0, 0, 0) 0.09%, #000000 118.63%), url("/assets/img/conferencePhoto10.jpg");
        background-size: contain;
    }
}
// 